<nav class="nav js-nav">
    <div class="nav__inner">
        <div class="nav__top">
            {% set logo = brand.logoNav.one() %}
            <a href="{{ siteUrl }}">
                {% if logo %}
                    <img alt="{{ currentSite.name }}" class="nav__logo" src="{{ logo.url }}">
                {% else %}
                    {{ currentSite.name }}
                {% endif %}
            </a>
            <div class="nav__menuOverlay js-navMenuOverlay"></div>
            <div
                aria-labelledby="navMenuToggle"
                class="nav__menu js-navMenu"
                id="navMenu"
                role="menubar"
            >
                <header class="nav__menuHeader">Menu</header>
                <ul class="menu" role="menu">
                    {% set navPages = craft.entries().section('pages').level(1).includeInNav(true).all() %}
                    {% for page in navPages %}
                        <li class="menu__item">
                            <a class="menu__link" href="{{ page.url }}" role="menuitem">{{ page.title }}</a>
                            {% if page.children.includeInNav(true)|length %}
                                <input type="checkbox" class="menu__submenuToggle">
                                <ul class="menu__submenu" role="submenu">
                                    {% for child in page.children.includeInNav(true) %}
                                        <li class="menu__submenu-item">
                                            <a class="menu__submenu-link" href="{{ child.url }}" role="menuitem">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <footer class="nav__menuFooter">
                    {% if navigation.ctas is not empty %}
                        {% include '_partials/ctas' with { ctas: navigation.ctas } %}
                    {% endif %}
                </footer>
            </div>
            <div class="nav__cta">
                {% if navigation.ctas is not empty %}
                    {% include '_partials/ctas' with { ctas: navigation.ctas } %}
                {% endif %}
            </div>
            <button 
                aria-controls="navMenu"
                aria-expanded="false"
                aria-haspopup="true"
                aria-label="Menu"
                class="nav__menuToggle js-navMenuToggle"
                id="navMenuToggle"
            >
                <div></div>
            </button>
        </div>
    </div>
</nav>