<section class="section columns {% if section.isFullWidth %}u-theme-{{ section.theme ?? 0 }}{% endif %}">
    <div class="wrapper section__inner {% if section.theme is not empty %}u-theme-{{ section.theme ?? '0' }}{% endif %}">
        <div class="grid grid--gap-xxl">
            {% if section.eyebrow is not empty or section.title is not empty or section.intro is not empty %}
                <div class="grid__col {% if section.sectionHeaderAlignment == 'left' %}l:grid__col--span-4{% endif %}">
                    {% include '_partials/sectionHeader' with { section: section } %}
                </div>
            {% endif %}
            <div class="grid__col {% if section.sectionHeaderAlignment == 'left' %}l:grid__col--span-8{% endif %}">
                <div class="grid grid--gap-xxl">
                    {% if section.sectionHeaderAlignment == 'left' %}
                        {% set gridClassName = "l:grid__col--span-6" %}
                    {% else %}
                        {% switch section.columns|length %}
                            {% case 2 %}
                                {% set gridClassName = "l:grid__col--span-6" %}
                            {% case 3 %}
                                {% set gridClassName = "l:grid__col--span-4" %}
                            {% case 4 %}
                                {% set gridClassName = "l:grid__col--span-3" %}
                            {% default %}
                                {% set gridClassName = "l:grid__col--span-4" %}
                        {% endswitch %}
                    {% endif %}
                    {% for column in section.columns %}
                        <div class="grid__col {{ gridClassName }}">
                            <div class="column">
                                <div class="column__inner {{ column.iconName ? 'column__inner--icon' : '' }}">
                                    {% set image = column.image.one() %}
                                    {% if image %}
                                        <picture class="card__picture">
                                            <source
                                                sizes="(max-width: 1024px) 100vw, 33vw"
                                                srcset="
                                                    {{ image.getUrl({ format: 'webp', height: 270, width: 480 }) }} 480w,
                                                    {{ image.getUrl({ format: 'webp', height: 333, width: 592 }) }} 592w,
                                                    {{ image.getUrl({ format: 'webp', height: 432, width: 768 }) }} 768w,
                                                    {{ image.getUrl({ format: 'webp', height: 576, width: 1024 }) }} 1024w,
                                                    {{ image.getUrl({ format: 'webp', height: 666, width: 1184 }) }} 1184w,
                                                    {{ image.getUrl({ format: 'webp', height: 864, width: 1536 }) }} 1536w,
                                                    {{ image.getUrl({ format: 'webp', height: 1152, width: 2048 }) }} 2048w
                                                "
                                                type="image/webp"
                                            />
                                            <img
                                                alt="{{ image.title }}"
                                                class="card__image"
                                                decoding="async"
                                                loading="lazy"
                                                src="{{ image.getUrl({ format: 'webp', height: 1152, width: 2048 }) }}"
                                                srcset="
                                                    {{ image.getUrl({ format: 'webp', height: 270, width: 480 }) }} 480w,
                                                    {{ image.getUrl({ format: 'webp', height: 333, width: 592 }) }} 592w,
                                                    {{ image.getUrl({ format: 'webp', height: 432, width: 768 }) }} 768w,
                                                    {{ image.getUrl({ format: 'webp', height: 576, width: 1024 }) }} 1024w,
                                                    {{ image.getUrl({ format: 'webp', height: 666, width: 1184 }) }} 1184w,
                                                    {{ image.getUrl({ format: 'webp', height: 864, width: 1536 }) }} 1536w,
                                                    {{ image.getUrl({ format: 'webp', height: 1152, width: 2048 }) }} 2048w
                                                "
                                            >
                                        </picture>
                                    {% endif %}
                                    {% if column.iconName %}
                                        <div class="column__icon" style="color: {{ column.iconColor }};">
                                            <i data-lucide="{{ column.iconName }}"></i>
                                        </div>
                                    {% endif %}
                                    <div class="column__content">
                                        <h3 class="columns__heading">{{ column.title }}</h3>
                                        <div class="columns__text richText">
                                            {{ column.text }}
                                        </div>
                                    </div>
                                </div>
                                {% if column.ctas is not empty %}
                                    {% include '_partials/ctas' with { ctas: column.ctas } %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>