{% set image = section.image.one() %}

<section class="section hero hero--{{ section.height ?? 'fit' }} hero--width-{{ section.textWidth }} u-theme-{{ section.theme }} js-equinox">
    {% if image %}
        <img
            alt="{{ image.title }}"
            class="hero__backdrop"
            sizes="100vw"
            src="{{ image.getUrl({ format: 'webp', upscale: false, width: 2048 }) }}"
            srcset="
                {{ image.getUrl({ format: 'webp', upscale: false, width: 480 }) }} 480w,
                {{ image.getUrl({ format: 'webp', upscale: false, width: 592 }) }} 592w,
                {{ image.getUrl({ format: 'webp', upscale: false, width: 768 }) }} 768w,
                {{ image.getUrl({ format: 'webp', upscale: false, width: 1024 }) }} 1024w,
                {{ image.getUrl({ format: 'webp', upscale: false, width: 1184 }) }} 1184w,
                {{ image.getUrl({ format: 'webp', upscale: false, width: 1536 }) }} 1536w,
                {{ image.getUrl({ format: 'webp', upscale: false, width: 2048 }) }} 2048w
            "
        >
    {% endif %}
    <div class="wrapper section__inner">
        <div class="grid grid--gap-xl grid--middle l:grid--gap-xxl">
            <div class="grid__col l:grid__col--span-{{ section.textWidth == '75' ? '8' : '6'}}">
                <div class="hero__content stack stack--gap-xl">
                    <div class="stack stack--gap-m">
                        <h1 class="textSplit js-textSplit">{{ section.title }}</h1>
                        <div class="hero__text richText">
                            {{ section.text }}
                        </div>
                    </div>
                    {% if section.ctas %}
                        {% include '_partials/ctas' with { ctas: section.ctas } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>