<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>
            {% if entry.slug == 'home' %}
                {% if entry.seoTitle %}
                    {{ entry.seoTitle }} |
                {% endif %}
                {{ currentSite.name }}
            {% else %}
                {{ entry.seoTitle ?? entry.title }} | {{ currentSite.name }}
            {% endif %}
        </title>
        <meta name="referrer"content="origin-when-cross-origin">
        <meta name="robots" content="index, follow">
        <meta name="viewport"content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover,width=device-width">
        <meta name="description" content="{{ entry.summary ?? entry.seoDescription }}">
        {{ settings.htmlHead|raw }}
        {% block openGraph %}
            <meta property="og:description" content="{{ entry.seoDescription }}">
            {% set previewImage = entry.seoPreviewImage.one() ?? brand.seoPreviewImage.one() %}
            {% if previewImage %}
                <meta property="og:image" content="{{ previewImage.getUrl({ format: 'jpg', height: 630, width: 1200, quality: 90 }) }}">
            {% endif %}
            <meta property="og:locale" content="{{ craft.app.language }}">
            <meta property="og:site_name" content="{{ currentSite.name }}">
            <meta property="og:title" content="{{ entry.seoTitle ?? entry.title }}">
            <meta property="og:type" content="website">
            <meta property="og:url" content="{{ entry.url }}">
        {% endblock %}
        <link rel="icon" href="/favicon.png" type="image/png">
        {% include '_partials/schema' %}
        {% block schema %}{% endblock %}
{{ craft.vite.script('src/js/index.js', false, { 'defer': true }) }}
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% include '_partials/nav' %}
        <div class="page">
            <main class="page__main">
                {% block content %}{% endblock %}
            </main>
            {% include '_partials/footer' %}
        </div>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>